{
  "extends": "airbnb-base/legacy",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "no-console": 0,
    "linebreak-style": [
      "error",
      "windows"
    ],
    "brace-style": [
      "error",
      "1tbs"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-unused-vars": [
      "warn"
    ],
    "no-var": [
      "off"
    ],
    "one-var": [
      "off"
    ],
    "max-len": [2, 150],
    "no-lonely-if": 0
  }
}
